
.strike-maua{
    background:#2f558f;
    width: 100%;
    height: 0.5em;
}
.strike-maua-2{
    background:#203b64;
    width: 100%;
    height: 0.5em;
}

.bg-maua-breadcrumb{
    background:#3262a8;
}
.breadcrumb-item.active{    
    color:  #aaaaaaff;
}