<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-maua-breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active">Professores</li>
    </ol>
  </nav>
<!--Corpo docente-->
<div class="row">
    <div class="col-md-4 col-sm-12">
        <h3 class="strike-title">Corpo Docente</h3>
    </div>
    <div class="col-md-8 col-sm-12">
        <div class="strike-maua p-2 m-2"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12" style="min-height: 920px;">
        <table class="table" id="tabela_professores">
        </table>
    </div>
</div>