<!--Navbar-->
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-maua">
  <div class="container">
    <a href="home" class="navbar-brand"><img src="assets/logo_maua.png"></a>
    <ul class="navbar-nav">
      <li class="nav-item"><a id="home-click-item" appLinkDirective class="nav-link" routerLink="/">Home</a></li>
      <li class="nav-item"><a id="prof-click-item" appLinkDirective class="nav-link" routerLink="/professores">Professores</a></li>
      <li class="nav-item"><a id="suje-click-item" appLinkDirective class="nav-link" routerLink="/sujestoes">Sugestões</a></li>
      <li class="nav-item"><a id="adcc-click-item" appLinkDirective class="nav-link" routerLink="/adicionacurso">Adicionar Curso</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Login
        </a>
        <div class="dropdown-menu dropdown-menu-right login-dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="p-3">
            <span>Login do usuário</span>
          </div>
          <div class="dropdown-divider"></div>
          <div class="input-group p-3">
            <input type="text" class="form-control" placeholder="Usuário" aria-label="Recipient's username">
            <div class="input-group-append">
            </div>
          </div>
          <div class="input-group p-3">
            <input type="password" class="form-control" placeholder="Senha" aria-label="Recipient's username">
            <div class="input-group-append">
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="input-group mb-2 p-3">
            <input type="button" class="form-control" value="Login">
            <div class="input-group-append">
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- main content container -->
<div class="content">
  <router-outlet></router-outlet>
</div>



<!--Footer-->
<footer class="page-footer font-small bg-maua pt-4 mt-5">
  <div class="container-fluid text-center text-md-left ">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Campus São Caetano do Sul</h5>
        <p>Praça Mauá 1 São Caetano do Sul - SP</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <ul class="list-unstyled list-maua-footer">
          <li>
            <a href="http://www.aexam.com/">Associação dos Ex-alunos da Mauá</a>
          </li>
          <li>
            <a href="https://maua.br/conheca-maua/avaliacao-institucional">Avaliações</a>
          </li>
          <li>
            <a href="https://maua.br/graduacao/relacoes-internacionais/universidades-parceiras">Universidades
              Parceiras</a>
          </li>
          <li>
            <a href="https://maua.br/conheca-maua/campus-sao-caetano-sul">Centro de Esporte e Atividades Físicas</a>
          </li>
        </ul>

      </div>

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Contato</h5>

        <ul class="list-unstyled list-maua-footer">
          <li>
            <a href="tel:08000193100">0800 019 3100</a>
          </li>
          <li>
            <a href="https://maua.br/index/chat?_ga=1.106652550.468963231.1464200408">Chat Online</a>
          </li>
          <li>
            <a href="https://api.whatsapp.com/send?phone=5508000193100">WhatApp</a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">© 2020 Todos os direitos reservados:
    <a href="https://maua.br/"> maua.br</a>
  </div>

</footer>